html, body {margin:0; border:none; padding:0; background:#fafafa; font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#404040; line-height:1.5;}
#wrapper {width:60em; margin:0 auto 30px auto; border:1px solid #e5e5e5; border-top:none; padding:1.5em; background:#fff;}

h1, h2, h3, h4 {margin:0 0 5px 0; font-weight:normal;}
h1 {margin-bottom:0; border-bottom:1px solid #f2f2f2; padding-bottom:10px; font-size:30px; font-family:'Times New Roman', Times, serif; text-align:center; font-style:italic;}
h2 {font-size:24px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
p, ol, ul {margin:0 0 15px 0;}
pre {margin:20px; border:1px solid #f2f2f2; padding:9px; background:#fafafa;}
code {font-family:Courier, 'Courier New', monospace; font-size:inherit;}
blockquote {margin:0 30px 15px; font-style:italic;}

#nav {margin-bottom:20px; border-bottom:1px solid #f2f2f2; padding:7px 0; font-size:12px;}
#nav ul {margin:0; padding:0; text-align:center;}
#nav li {display:inline; margin:0 10px; padding:0; list-style:none;}
#nav li a {text-decoration:none;}
#nav li a:hover {text-decoration:underline;}
