<!DOCTYPE html>
<html dir="ltr" lang="en-GB"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="all">
</head><body><div id="wrapper">
    
    <div id="header">
        <h1>{{ page.title }}</h1>
    </div>
    
    <div id="nav">
        <ul>
            <li><a href="/">JavaScript Development Guide</a></li>
            <li><a href="/quick-install.html">Quick Install Guide</a></li>
            <li><a href="/jake.html">Jake <tt>README</tt></a></li>
            <li><a href="/helium.html">Helium <tt>README</tt></a></li>
        </ul>
    </div>
    
    <div class="article">
        {{ content }}
    </div>
        
</div></body></html>
