<!DOCTYPE html>
<html dir="ltr" lang="en-GB"><head>
    {% include head.html %}
</head><body><div id="wrapper">
    
    <div id="header">
        <h1>{{ page.title }}</h1>
    </div>
    
    <div id="content">
        {{ content }}
        
        <ol id="article-list">
            <li><a href="quick-install.html">Quick install guide</a></li>
            <li><a href="libraries.html">The libraries we use</a></li>
            <li><a href="development.html">Developing new libraries</a></li>
            <li><a href="testing.html">Testing your library</a></li>
            <li><a href="deployment.html">Deploying your library</a></li>
            <li><a href="style.html">Style</a></li>
            <li><a href="performance.html">Performance</a></li>
            <li><a href="functional-programming.html">Functional programming</a></li>
            <li><a href="jake.html">Appendix 1a: Jake <code>README</code></a></li>
            <li><a href="helium.html">Appendix 1b: Helium <code>README</code></a></li>
            <li><a href="internet-explorer.html">Appendix 2: Working around Internet Explorer</a></li>
        </ol>
    </div>
    
    {% include footer.html %}
    
</div></body></html>
